
  @import url('https://fonts.googleapis.com/css2?family=Eczar&family=Inter&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

#nav{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    position: fixed;
    background-color: white;
    color: black;
    top: 0%;
    width: 100%;
    padding-bottom: 10px;

}

#nav a{
    text-decoration: none;
    color: black;
}

#nav ul{
    display: flex;
    list-style: none;
}

#nav ul li{
    margin-left: 100px;
}

#hero{
    background-color: black;
    color: white;
    display: flex;
    justify-content: end;
    font-size: 27px;
}

#hero h1{
    padding: 200px 300px 200px 200px;
}

#hero img{
    height: 610px;
    width: 1000px;
    padding-top: 70px;
    padding-right: 150px;
    float: right;
}

#section{
    margin-top: 30px;
    padding-top: 50px;
    display: flex;
    justify-content:center;
    background-color: rgba(0, 0, 0, 0.099);
}

#title h1{
    font-size: 50px;
}

#features{
    padding-top: 40px;
    display: flex;
    justify-content:space-evenly;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.099);
}

#second-row{
    padding: 40px 0px;
    display: flex;
    justify-content:space-evenly;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.099);
}